{% extends "base.html" %} {% block content %}

<h1 class="mt-4">Hi</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid temporibus
  necessitatibus consequatur cum? Quod impedit nisi voluptates inventore quidem
  quo nobis labore provident commodi sed necessitatibus quaerat a, laudantium
  eum.
</p>
<p>
  No one shall be subjected to arbitrary arrest, detention or exile. Everyone is
  entitled in full equality to a fair and public hearing by an independent and
  impartial tribunal, in the determination of his rights and obligations and of
  any criminal charge against him. No one shall be subjected to arbitrary
  interference with his privacy, family, home or correspondence, nor to attacks
  upon his honour and reputation. Everyone has the right to the protection of
  the law against such interference or attacks.
</p>
<button class="btn btn-primary">Click</button>
{% endblock %}
