{% extends "base.html" %}
{% load static %}

{% block title %}Stuff Inventory{% endblock %}
{% comment %} 
    inventory_data = {
        "phasers": ["right", "left"]
    } {% endcomment %}
{% block content %}
<div class="container my-5">

    <ul>

    <table class="table table-dark table-bordered">
        <tbody>
        {% for i in inventoryitems %}
        <tr>
            <td>Items Functional: {{i.is_working}}</td>
            <td>
                Item: {{ i.item_name }}
                {% comment %} <form method="post" action="{% url 'phaser-update' p.pk %}" class="d-flex align-items-center">
                    {% csrf_token %}
                    {{ p.form.direction_fireing }}
                    <button type="submit" class="btn btn-sm btn-primary ms-2">Set</button>
                </form> {% endcomment %}
            </td>
            <td>Description: {{i.descriptions}}</td>
            <td>Department: {{i.department}}</td>
        </tr>
            </ul>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}